{% load static %}
<!doctype html>
<html lang="en">

  <head>
    <title>Travello</title>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'aboutmedia/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'aboutmedia/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'aboutmedia/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'aboutmedia/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'aboutmedia/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'aboutmedia/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'aboutmedia/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'aboutmedia/css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'aboutmedia/css/style.css' %}">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>

      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">
            <div class="col-3 ">
              <div class="site-logo">
                <a href="index.html" class="font-weight-bold">
                </a>
              </div>
            </div>
            <div class="col-9  text-right">
              
              <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>
           
              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li><a href="{% url 'index' %}" class="nav-link">Home</a></li>
                  <li class="active"><a href="{% url 'about' %}" class="nav-link">About</a></li>
                </ul>
              </nav>
            </div>            
          </div>
        </div>

      </header>

    <div class="ftco-blocks-cover-1">
      <div class="site-section-cover overlay" style="background-image: url({% static 'aboutmedia/images/hero_1.jpg' %})">
        <div class="container">
          <div class="row align-items-center justify-content-left text-left">
            <div class="col-md-5" data-aos="fade-up">
              <h1 class="mb-3 text-white">Let's Enjoy The Wonders of Nature</h1>
              <p>Most of us live in urban areas, in busy cities where nature is tamed and does not take an important place in daily life. However, nature is more than just a place we can visit during our holidays or weekends. </p>
              <p>Nature is our origin and the place where all our subtle needs for beauty, mystery, and adventure are met. Nature holds many gifts for us if we prove willing to explore its magnificent diversity.</p>
              <p class="d-flex align-items-center">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="heading-39101 mb-5">
              <span class="backdrop">Story</span>
              <span class="subtitle-39191">Discover Story</span>
              <h3>Our Story</h3>
                </div>
                <p>From hometown Kolkata, we started sharing the happiness with few people. And there feedback gave us motivation to explore it in a professional ways, And step by step we are at this stage. Your happiness is key to our Success :)</p>
                </div>
              <div class="col-md-6" data-aos="fade-right">
            <img src="{% static 'aboutmedia/images/traveler.jpg' %}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>


    <div class="site-section py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5 order-2 ml-auto">
            <div class="heading-39101 mb-5">
              <span class="backdrop">Mission</span>
              <span class="subtitle-39191">Our Mission</span>
              <h3>Our Mission</h3>
            </div>
            <p>We believe in creating the story, The way of creating the story is to capture the memories. There may be some wonderful or some difficult memories. </p>
            <p>And that'sss the point where we can help you, whether you are facing difficult time or wanna explore places. We can assure that you are gonna enjoy and create ONLY wonderful memories. </p>
        </div>
          <div class="col-md-6 order-1" data-aos="fade-left">
            <img src="{% static 'aboutmedia/images/hero_1.jpg' %}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    
    <div class="site-section">

      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10">
            <div class="heading-39101 mb-5">
              <span class="backdrop text-center">Our Team</span>
              <h3>Meet Our CEO</h3>
            </div>
          </div>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="person-29191 text-center">
                <img src="" alt="" class="img-fluid mb-4">
                <div class="px-4">
                  <h2 class="mb-2"></h2>
                  <p class="caption mb-4"></p> 
                 
                </div>
              </div>
            </div>
            
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="person-29191 text-center">
              <img src="{% static 'aboutmedia/images/CEO.jpg' %}" alt="Image" class="img-fluid mb-4">
              <div class="px-4">
                <h2 class="mb-2">Sanjay Soni</h2>
                <h6 class="mb-2">(sanju.py)</h6>
                <p class="caption mb-4">CEO</p>
                <p>Fullstack developer with the knowledge of Django, API, PostgreSQL, Mysql, ORM, HTML, JS, CSS, Bootstrap, Panda, Numpy, Matplotlib and many other python packages.</p>
                <div class="social_29128 mt-5">
                <a href="#"><span class="icon-facebook"></span></a>  
                <a href="#"><span class="icon-instagram"></span></a>  
                <a href="#"><span class="icon-twitter"></span></a>  
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

    
    
    <div class="site-section bg-image overlay" style="background-image: url({% static 'aboutmedia/images/hero_1.jpg' %})">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="font-weight-bold text-white">Join and Trip With Us</h2>
            <p class="text-white">It’s never about the huge number of destinations you travelled but the experiences you collected in few that really stay with you. Most of the times, most beautiful memories are always about the journeys and rarely about the destinations.</p>
            <p class="mb-0"><a href="{% url 'index' %}" class="btn btn-primary text-white py-3 px-4">Get In Touch</a></p>
          </div>
        </div>
      </div>
    </div>
    <footer class="site-footer bg-light"></footer>

    </footer>
    <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            <p>
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Smile, Sanjay Soni
          </p>
          </div>
        </div>
    </div>

    <script src="{% static 'aboutmedia/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'aboutmedia/js/jquery-migrate-3.0.0.js' %}"></script>
    <script src="{% static 'aboutmedia/js/popper.min.js' %}"></script>
    <script src="{% static 'aboutmedia/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'aboutmedia/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'aboutmedia/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'aboutmedia/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'aboutmedia/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'aboutmedia/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'aboutmedia/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'aboutmedia/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'aboutmedia/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'aboutmedia/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'aboutmedia/js/aos.js' %}"></script>
    <script src="{% static 'aboutmedia/js/main.js' %}"></script>

  </body>
</html>

